body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 60px;
}
h2{
    font-size: 40px;
}
button{
    padding: 15px 40px;
    background: linear-gradient(orange,tomato);
    font-size: 20px;
    color: white;
    border: 0;
    border-radius: 3px;
}
input{
    padding: 10px;
}
#section-hero-img{
    height: 100vh;
    background: url('../images/donation13.jpg') no-repeat;
    background-size: 100%;
}
#hero-img-msg{
    width:65%;
    margin: 0 auto;
    padding: 200px 0;
    text-align: center;
    color: #ffffff;
}
#section-donate-today{
    text-align: center;
}
/* #donation-amount{
    width:65%;
    margin: 0 auto;
} */
#donation-amount-msg{
    margin: 0 auto;
}
#donation-amount-msg p{
    width: 600px;
    margin: 0 auto;
}
#fixed-amount{
    width: 80%;
    margin: 0 auto;
    display: flex;
}
.amount{
    width: 150px;
    height: 150px;
    background:aliceblue;
    margin: 15px;
    text-align: center;
    line-height: 120px;
}
#other-amount{
    width: 500px;
    border: 2px solid white;
    border-bottom: 2px solid gray;
    margin: 50px 0px;;
}

#section-other-donation-plan{
    text-align: center;
}
#donation-plan{
    width: 80%;
    margin: 0 auto;
    display: flex;
}

.donation-plan-item{
    width: 300px;
    height: 300px;
    background:aliceblue;
    margin: 15px;
    text-align: left;
    padding: 10px;
}
.donation-plan-item img{
    height: 100px;
    width: 100px;
}



#section-get-my-updates{
    text-align: center;
    padding: 50px 0;
}

#section-get-my-updates form{
    width: 50%;
    padding: 100px;
    margin: 0 auto;
    background:rgba(239, 207, 29, 0.3);
}

#section-footer{
    text-align: center;
    background: rgb(30, 2, 30);
    color: white;
    padding: 50px 0 20px 0;;
}
#section-footer h2{
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
}

::-webkit-input-placeholder { /* Edge */
    text-align: center;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    text-align: center;
  }
  
  ::placeholder {
    text-align: center;
  }